<section class="container">
  <div class="header">
    <h3 class="subtitle" i18n>WHAT WE DO</h3>
    <h1 class="title" i18n>
      We've got everything you need to <br />
      launch and grow your business
    </h1>
  </div>
  <div class="services">
    <div class="item">
      <div class="icon"><mat-icon class="material-icon">public</mat-icon></div>
      <div class="description">
        <h3 class="name" i18n>Web Design</h3>
        <p class="paragraph">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
          veritatis ratione optio cum, velit ab sequi corporis non fugiat?
          Perferendis voluptatum eos labore qui neque ipsam accusantium,
          voluptatibus inventore repudiandae, qui neque ipsam accusantium,
          voluptatibus inventore repudiandae
        </p>
      </div>
    </div>
    <div class="item">
      <div class="icon"><mat-icon class="material-icon">school</mat-icon></div>
      <div class="description">
        <h3 class="name" i18n>School</h3>
        <p class="paragraph">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
          veritatis ratione optio cum, velit ab sequi corporis non fugiat?
          Perferendis voluptatum eos labore qui neque ipsam accusantium,
          voluptatibus inventore repudiandae, qui neque ipsam accusantium,
          voluptatibus inventore repudiandae
        </p>
      </div>
    </div>
    <div class="item">
      <div class="icon"><mat-icon class="material-icon">people</mat-icon></div>
      <div class="description">
        <h3 class="name" i18n>People</h3>
        <p class="paragraph">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
          veritatis ratione optio cum, velit ab sequi corporis non fugiat?
          Perferendis voluptatum eos labore qui neque ipsam accusantium,
          voluptatibus inventore repudiandae, qui neque ipsam accusantium,
          voluptatibus inventore repudiandae
        </p>
      </div>
    </div>
    <div class="item">
      <div class="icon"><mat-icon class="material-icon"> train</mat-icon></div>
      <div class="description">
        <h3 class="name" i18n>Train</h3>
        <p class="paragraph">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
          veritatis ratione optio cum, velit ab sequi corporis non fugiat?
          Perferendis voluptatum eos labore qui neque ipsam accusantium,
          voluptatibus inventore repudiandae, qui neque ipsam accusantium,
          voluptatibus inventore repudiandae
        </p>
      </div>
    </div>
    <div class="item">
      <div class="icon">
        <mat-icon class="material-icon"> restaurant</mat-icon>
      </div>
      <div class="description">
        <h3 class="name" i18n>Restaurant</h3>
        <p class="paragraph">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
          veritatis ratione optio cum, velit ab sequi corporis non fugiat?
          Perferendis voluptatum eos labore qui neque ipsam accusantium,
          voluptatibus inventore repudiandae, qui neque ipsam accusantium,
          voluptatibus inventore repudiandae
        </p>
      </div>
    </div>
    <div class="item">
      <div class="icon">
        <mat-icon class="material-icon"> my_location</mat-icon>
      </div>
      <div class="description">
        <h3 class="name" i18n>Localisation</h3>
        <p class="paragraph">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
          veritatis ratione optio cum, velit ab sequi corporis non fugiat?
          Perferendis voluptatum eos labore qui neque ipsam accusantium,
          voluptatibus inventore repudiandae, qui neque ipsam accusantium,
          voluptatibus inventore repudiandae
        </p>
      </div>
    </div>
  </div>
</section>
