<section class="container" id="aboutus">
  <div class="content">
    <h3 class="subtitle" i18n>HELLO THERE</h3>
    <h1 class="title" i18n>We Are Webtweet</h1>
    <p class="text">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique sed
      cum velit dolores, libero aperiam tempore tempora, saepe molestias, labore
      accusantium eos ab nihil? Quibusdam temporibus aspernatur illo nobis
      numquam!
    </p>
    <div class="stats">
      <div class="item">
        <span class="number">127</span>
        <h4 class="name" i18n>Awards Recived</h4>
      </div>
      <div class="line"></div>
      <div class="item">
        <span class="number">1505</span>
        <h4 class="name" i18n>Cups of Coffee</h4>
      </div>
      <div class="line"></div>
      <div class="item">
        <span class="number">109</span>
        <h4 class="name" i18n>Projects Completed</h4>
      </div>
      <div class="line"></div>
      <div class="item">
        <span class="number">102</span>
        <h4 class="name" i18n>Happy Clients</h4>
      </div>
    </div>
  </div>
</section>
