.container {
  padding: 6em 0 6em 0;
  background-color: #111;
  display: flex;
  justify-content: center;
  gap: 5em;
  .aboutus {
    max-width: 450px;
    width: 100%;
    .name {
      color: var(--primary-color);
      font-size: 2rem;
      font-weight: 600;
    }
    .description {
      color: #757575;
      font-size: 1rem;
      line-height: 1.4rem;
    }
  }
  .newsletter {
    max-width: 350px;
    width: 100%;
    .title {
      color: white;
      font-weight: 600;
      font-size: 1.3rem;
    }
    .description {
      color: #757575;
    }
    .field {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: black;
      .input {
        border: none;
        background-color: transparent;
        font-size: 0.9rem;
        width: auto;
        min-width: none;
        color: #aaa;
        padding-left: 0.5rem;
        &::placeholder {
          color: #888;
        }
        &:focus {
          outline: none;
        }
      }
      .icon {
        color: white;
      }
      .button {
        margin-left: auto;
        padding: 0.5rem 1rem;
        height: 45px;
        background-color: var(--primary-color);
        color: white;
        transition: background 0.3s;
        cursor: pointer;
        &:hover {
          background-color: var(--primary-color--darker);
        }
      }
    }
  }
}
