<div class="container" id="contact">
  <div class="aboutus">
    <h3 class="name">Webtweet.</h3>
    <p class="description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Id atque
      veritatis corrupti. Impedit rerum pariatur aliquam? In nihil impedit
      distinctio eum numquam tempora voluptatibus delectus, illum sed at eveniet
      molestias.eritatis corrupti. Impedit rerum pariatur aliquam? In nihil
      impedit distinctio eum numquam tempora voluptatibus delectus, illum sed at
      eveniet molestias.
    </p>
  </div>
  <div class="newsletter">
    <h4 class="title" i18n>Get Notified</h4>
    <p class="description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Id atque
      veritatis corrupti. Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Id atque veritatis corrupti.
    </p>
    <div class="field">
      <mat-icon class="icon"> email</mat-icon>
      <input
        type="text"
        class="input"
        placeholder="Email Addres"
        i18n-placeholder="Email Addres i18n"
      /><button class="button" i18n>SUBSCRIBE</button>
    </div>
  </div>
</div>
